/* On smaller screens, decrease text size */
@media only screen and (max-width: 700px) {
  .intro {
    font-size: 29px;
  }
  
  .mini-on-screen {
    font-size: 12px ;
  }
  .mini-mobile {
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .container-port, 
  .me-container, 
  .general-snippet {
    display: flex;
    flex-wrap: wrap;
  }

  .get-in-touch-container {
    display: flex;
    flex-wrap: wrap;
    
  }

  .about-me-years-experience-paragraph {
    font-size: 10px;
  }

  .about-me-years-experience-span {
  font-size: 25px;
  font-weight: 900;
  }

  .h2-portfolio, .paragraph-portfolio {font-size: 20px;}
  
  p, h2, h3, h1 {color: white;}
}


/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px gray;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(179, 172, 172);
}

.nav-color-back {
  background-color: rgba(0, 0, 0, 0.1)
}

/*
.aynorm {
  color: #13111c;
}

.aynorm:hover {
  color: gray;
}


.change {
  color: black;
}

.change:hover {
  color: gray;
  background-color: #13111c;
  background: rgba(4, 9, 16, 0); 
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  padding: 10px;
}
*/

*{box-sizing: border-box;}

.change {
  border-bottom: 1px solid gainsboro
}

.learn-portfolio {
  color: gray;
  font-weight: 700;
}

.background-img {
background-image: url(pictures/lappy.png);
background-size: 100%;
background-repeat: no-repeat;
border-radius: 20px;
}

.me-container {
  display: flex;
  gap: 50px;
  justify-content: space-betwee;
  align-items: center;
}

.me-child-container {
  flex-grow: 1;
  flex-basis: 200;
  width: 100%;
  max-width: 700px;
}

.white-top {
  width: 100px;
    height: 10px;
    background-color: whitesmoke;
}

body {
  background-color: #1b1f24;
  color: white;
  font-family: Spacegrotesk,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
  font-size: 18px;
  font-weight: 400;
  align-items: center;
  justify-content: center;
  padding: 0px 20px 0px 20px;
}

hr {
  border: 0.1px solid #333;
}

a {
  color: white;
  font-size: 16px;
  letter-spacing: .06em;
  text-decoration: none;
}

a:hover {
  color: gray
}
p {
  font-size: 16px;
  letter-spacing: .06em;
}



         .container-port {
           display: flex;
           width: 100%;
           gap: 50px;
           padding: 50px 0px 50px 0px;
           justify-content:space-evenly;
         }
    
         .zoom-containeer {
           flex-grow: 1;
           flex-basis: 200;
           width: auto;
         }
    
         .zoom-one {
           margin-bottom: 40px;
         }
    
         .paragraph-portfolio {
           font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
           font-size: 100%;
           padding: 0px 10px 0px 10px;
         }

         .project-have-done {
          width: 100%;
          max-width: 80%;
           
         }
    
         .h2-portfolio {
           font-weight: 700;
           padding: 0px 10px 0px 10px ;
         }
    
         .portfolio-img {
           width: 100%;
           max-width: 700px;
           border-bottom-left-radius: 20px;
           border-bottom-right-radius: 20px;
         }
    
         button {
           background-color: #5d6c83;
           color: white;
           padding: 10px;
           margin: 0px 3px;
           border: none;
           border-radius: 10px;
           cursor: pointer;
           font-weight: 900;
         }
    
         .button-div {
           display: flex;
           justify-content: end;
         }
    
         .child-dev {
           background-color: #2d343f;
           padding-bottom: 0px;
           padding-right: 0px;
           padding-left: 0px;
           padding-top: 20px;
           border-top-left-radius: 20px;
           border-top-right-radius: 20px;
           border-bottom-left-radius: 20px;
           border-bottom-right-radius: 20px;
           max-width: 100%;
           max-width: 700px;
         }
    
         .special-child-dev {
           margin-top: 90px;
         }

.client-preview {
  background-color: lightgreen;
  width: 250px;
  height: 100%;
  flex-grow: 1;
  flex-basis: 200;
  padding: 10px;
}
.client-img {
  width: 100%;
  max-width: 250p;
  min-width: 250p;
  border-radius: 20px;
}

.head-ul {
    list-style-type: none;
    display: flex;
    overflow: auto;
    margin-right: 5px;
}

.li-row {
  float: left;
  font-weight: 700;
}

.li-row, .link {
  display: block;
  color: white;
  text-align: center;
  padding: 5px 0px 0px 5px;
  text-decoration: none;
}

.li-row .link:hover {
  color: gray;
}

.test {
  width: 300px;
  height: 100%;
  flex-grow: 1;
  flex-basis: 200;
  padding: 10px;
}

.experience {
  width: 100px;
}

.img-li {
  width: 29px;
  border: 1px solid white;
  border-radius: 50%;
  background-color: antiquewhite;
}

.img-li:hover {
  -ms-transform: scale(1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1);
    /* Safari 3-8 */
    transform: scale(1.09);
    color: rgb(216, 211, 211);
    background-color: lightblue;
}

.img-pre-work {
  width: 100px;
  margin-left: -15px;
}

.about-me-gen-max-width-div {
  max-width: 700px;
}

.about-me-years-experience-paragraph {
  margin-left: 5px;
  font-weight: 700;
}
.about-me-years-exp-div {
  display: flex;
  align-items: center;
  flex-grow: 1;
  flex-basis: 200;
  max-width: 200px;
}
.about-me-years-experience-span {
  font-weight: 700;
  font-size: 30px;
}

.tools-image {
  width: 90px;
  border-radius: 50%;
  background-color: white;
}

li {
  list-style: none;
}

h1 {
  font-size: 45px;
  width: 100%;
  font-weight: 900;
  padding:0px;
  margin-top:5px;
  margin-bottom:5px;
}

h2 {
  font-size: 24px;
  width: 100%;
  font-weight: 700;
  padding:0px;
  margin-top:5px;
  margin-bottom:5px;
}

h3 {
  font-size: 20px;
  padding:0px;
margin-top:5px;
margin-bottom:5px;
}

div {
  margin-top:5px;
  margin-bottom:5px;
  padding: 0px;
}

span {
  margin-right: 1px;
  color: orange;
}

.general-skills-colom {
  margin-top: 10px;

}

.skills-colom {
    background-color: #2d343f;
      width: 100%;
      max-width: 406px;
      min-width: 350px;
    
      padding: 120px 40px 88px;
      border-radius: 20px;
}

.skills-colom:hover {
  color: gray;
}

.white-boldline {
  border: 2px solid white;
  max-width: 50px;
}

.number-p {
  margin: 0%;
  font-size: 40px;
}

img {
  vertical-align: middle;
}

.my-pic {
  width: 25%;
  max-width: 150px;
  min-width: 50px;
  min-height: 50px;
  border-radius: 50%;
  background-color: white;
  padding: 1px;
}

.get-in-touch-container {
  display: flex;
  column-gap: 20px;
  
}

.get-in-touch {
  flex-grow: 1;
  flex-basis: 200;
}

.glass-backgroun {
  background: rgba(4, 9, 16, 0);
  background-color: whitesmoke;
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  padding: 10px;  
}

.last-content {
  display: flex;
  flex-wrap: wrap;
}

.bottom {
  flex-grow: 1;
  flex-basis: 200;
}

.item-one {
  flex-grow: 1;
  flex-basis: 200;
  height: 100%;
  width: 200px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.img-item { 
  width: 100%;
  border-radius: 5%; 
}

            
            .snippet-div {
              background-color: #2d343f;
              padding: 0px 0px 40px 0px;
              border-radius: 20px;
              width: 100%;
              height: 100%;  
            }
      
            .snippet-div:hover, 
            .child-dev:hover {
              -ms-transform: scale(1.5);
              /* IE 9 */
              -webkit-transform: scale(1.5);
              /* Safari 3-8 */
              transform: scale(1.1);
            }
      
            .general-snippet {
              display: flex;
              gap: 10px;
              padding: 0px 0px 50px 0px;
              justify-content: space-between;
            }
      
            .img-snippet {
              width: 100%;
              max-width: 700px;
              border-top-right-radius: 20px;
              border-top-left-radius: 20px;
            }
      
            .paragraph-snippet {
              font-size: 18px;
              font-weight: 100;
            }
      
            .h3-snippet {
              font-size: 26px;
            }
      
            .together-snippet {
              margin: 20px;
            }
      
            .right-arrow {
              font-weight: 900;
            }

    .contact-label {
      font-size: 25px;
      font-weight: 700;
      color: gray;
    }
                  
    .type-text {
      width: 100%;
      height: 20px;
      border: none;
      margin: 15px 0px 15px 0px;
      border-bottom: 2px solid white;
      background-color: transparent;
      color: white;
      padding: 10px 0px 10px 0px;
    }

    .email-call {
      color: gray;
    }